In [1]:
import pandas as pd
import dotabet
import os
features_csv_path = r"D:\WORKSPACE\dotabet\data\top_teams\features.csv"

matchups = pd.read_csv(features_csv_path)

In [2]:
matchups.keys()

Index(['player_name', 'start_time', 'league_name', 'radiant_name', 'dire_name',
       'player_team_name', 'match_id', 'leagueid', 'player_team_id',
       'radiant_team_id', 'dire_team_id', 'account_id', 'actions_per_min',
       'ancient_kills', 'assists', 'camps_stacked', 'deaths', 'denies',
       'gold_per_min', 'hero_damage', 'hero_healing', 'hero_id', 'hero_kills',
       'kda', 'lane_efficiency', 'win', 'last_hits', 'net_worth',
       'neutral_kills', 'observer_kills', 'roshan_kills', 'rune_pickups',
       'sentry_kills', 'sen_placed', 'teamfight_participation', 'total_gold',
       'total_xp', 'tower_damage', 'tower_kills', 'xp_per_min', 'game_mode',
       'missing_data', 'gold10', 'gold15', 'gold20', 'gold25', 'gold30',
       'gold40', 'xp10', 'xp15', 'xp20', 'xp25', 'xp30', 'xp40', 'lh10',
       'lh15', 'lh20', 'lh25', 'lh30', 'lh40', 'minutes', 'player_position',
       'team_composition_id', 'team_composition'],
      dtype='object')

In [2]:
composed_teams_path = r"D:\WORKSPACE\dotabet\data\top_teams\composed_teams.csv"
teams= pd.read_csv(composed_teams_path)

cur_composed_teams = "1520430061	1467011456	544418787	1218507308	881243827	981108963	830106289	573090428	918882067	867226903	788139073	1099587569	729347663	950760809	672389004	763176420	674165279	665401822	658631980	2397260668	610792065	1017575994	600312343	1234052947".split()
cur_composed_teams = [int(s) for s in cur_composed_teams]

cur_teams_id = "8255888	8261500	8599101	9247354	36	9255706	39	2163	2586976	8291895	1838315	7119388	8724984	9255039	8574561	5	9303484	8894818	8605863	7422789	7554697	8597976	8728920	7732977".split()
cur_teams_id = [int(s) for s in cur_teams_id]

lookup = teams[teams['team_composition_id'].isin(cur_composed_teams)]

print(f"All matchups {len(matchups)=}")
matchups = matchups[matchups['team_composition_id'].isin(cur_composed_teams)]
print(f"Only current teams: {len(matchups)=}")
matchups = matchups[matchups['dire_team_id'].isin(cur_teams_id) & matchups['radiant_team_id'].isin(cur_teams_id)]
print(f"Only selected top current teams: {len(matchups)=}")

All matchups len(matchups)=26000
Only current teams: len(matchups)=8510
Only selected top current teams: len(matchups)=5290

In [7]:
num_cols = matchups.select_dtypes(include=['int', 'float']).columns
str_cols = matchups.select_dtypes(include=['object']).columns

str_agg = lambda x: x.mode()[0] if not x.empty else None
agg_dict = {col: 'mean' for col in num_cols}  
agg_dict.update({col: str_agg for col in str_cols}) 

matches_group = matchups.groupby('match_id') 
matches = matches_group.agg(agg_dict)

matches = matches[['radiant_team_id', 'dire_team_id', 'win']]

In [8]:
matches

            radiant_team_id  dire_team_id  win
match_id
7156055428        8599101.0     8894818.0  1.0
7156165506        8599101.0     8894818.0  0.0
7156260357        8599101.0     8894818.0  1.0
7161283873        1838315.0     8599101.0  0.0
7161403818        8599101.0     1838315.0  1.0
...                     ...           ...  ...
7658738730        8574561.0           5.0  0.5
7658876235        2586976.0     8291895.0  0.5
7658998362        8291895.0     2586976.0  0.5
7659099702        2586976.0     8291895.0  0.5
7659223160        8291895.0     2586976.0  0.5

[711 rows x 3 columns]

In [ ]:
import pandas as pd
import dotabet

features_csv_path = r"D:\WORKSPACE\dotabet\data\top_teams\features.csv"

df = pd.read_csv(features_csv_path)

cols_to_drop = df.select_dtypes(include='object').columns.difference(['match_id', '])
df = df.drop(columns=cols_to_drop)